*{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
}
header{
    color: royalblue;
    font-weight: bolder;
    font-style: italic;
    font-size: 60px;
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 25px;
}
footer{
    color: royalblue;
    font-weight: bolder;
    font-style: italic;
    font-size: 60px;
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 25px;
    bottom:
}
#timerDisplay{
    text-align: center;
    color: red;
    font-size: 200%;
    background-color: azure;
    margin: 25px;
}
.choices{
    color: blue;
    text-align: center;
    padding: 15px;
}
#questions{
    padding: 15px;
    font-size: 250%;
    margin: 15px;
}
#quizarea{
    border-radius: 25px;
    background-color: white;
}
body{
    background: url(../images/hiphop.jpg);
}
#answer{
color: blueviolet;
}
#lose,#win{
    color: royalblue;
    font-weight: bolder;
    font-style: italic;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
